<div class="card border-warning employee-card ml-3">
    <div class="card-header text-white bg-warning">
        <h1><i class="fas fa-glasses"></i></h1>
        <h2 class="card-title">{{ name }}</h2>
        <h4 class="card-title">{{ role }}</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item border-warning">ID: {{ id }}</li>
            <li class="list-group-item border-warning">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item border-warning">GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
        </ul>
    </div>
</div>
